<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>870390669868-m91066hlcin96vthevsmg8aldp7r5nmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870390669868-m91066hlcin96vthevsmg8aldp7r5nmp</string>
	<key>API_KEY</key>
	<string>AIzaSyDqWetBq4k3QoBKEVScD5hS7aGTCZO0jl8</string>
	<key>GCM_SENDER_ID</key>
	<string>870390669868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xparrow.konnfc</string>
	<key>PROJECT_ID</key>
	<string>konnex-29e35</string>
	<key>STORAGE_BUCKET</key>
	<string>konnex-29e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870390669868:ios:288463f1afda9a57</string>
	<key>DATABASE_URL</key>
	<string>https://konnex-29e35.firebaseio.com</string>
</dict>
</plist>